:root {
  --primary-color: #f2b90d;
  --secondary-color: #f5f3f0;
  --text-primary: #181611;
  --text-secondary: #8a8060;
}

body {
  font-family: "Space Grotesk", "Noto Sans", sans-serif;
}

.honeycomb-bg {
  background-image:
    radial-gradient(circle at 50% 50%, rgba(242, 185, 13, 0.1) 0%, rgba(242, 185, 13, 0) 70%);
}
