        :root {
      --primary-color: #f2b90d;
      --secondary-color: #fde68a;
      --natural-green: #4d7c0f;
      --text-primary: #333333;
      --text-secondary: #57534e;
      --bg-light: #fefce8;
      --border-color: #e7e5e4;
    }
    body {
      font-family: 'Space Grotesk', sans-serif;
      background-color: var(--bg-light);
      color: var(--text-primary);
    }
    .honeycomb-bg {
      background-image:
        linear-gradient(rgba(254, 252, 232, 0.95), rgba(254, 252, 232, 0.95)),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='86.6' viewBox='0 0 100 86.6'%3E%3Cg fill='%23fde68a'%3E%3Cpolygon points='50,0 100,28.87 100,86.6 50,57.73 0,86.6 0,28.87'/%3E%3Cpolygon points='0,28.87 50,0 50,57.73 0,86.6'/%3E%3Cpolygon points='100,28.87 50,0 50,57.73 100,86.6'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 60px;
    }
    .form-input:focus {
        --tw-ring-color: var(--primary-color);
        border-color: var(--primary-color);
    }